Repository WebDevWhispers/Boilerplate-JS: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, eslint --max-warnings=1, prettier --write

feat: Add HelloWorld files
  src/index.html
  src/js/main.js
  src/public/favicon.svg
  src/styles/style.css
Due: eslint --fix, eslint --max-warnings=1, prettier --write

refactor: Add defer to script tag
  src/index.html
Due: none

chore: Add Github Actions
  .github/workflows/audit.yml
  .github/workflows/test.yml
Due: none

docs: Fill Readme.md
  README.md
Due: prettier --write

chore: Add EditorConfig file
  .editorconfig
Due: none

chore: Add .env commented to gitignore
  .gitignore
Due: none

fix: Remove pull-request run in github actions
  .github/workflows/audit.yml
Due: none

fix: Add charset
  .editorconfig
Due: none

fix: Create sample env
  .env
  .env.sample
Due: none

refactor: Update eslint config file name
  .eslintrc
Due: none

fix: Add .env to gitignore
  .gitignore
Due: none

fix: Remove Docker
  Dockerfile
  docker-compose.yml
Due: none

feat: Add prettier
  .prettierrc
Due: none

feat: Update vite config file
  vite.config.js
Due: eslint --fix, eslint --max-warnings=1, prettier --write

chore: Update npm packages
  package-lock.json
  package.json
Due: prettier --write

docs: Add "Herramientas adicionales"
  README.md
Due: prettier --write

docs: Remove installation of husky
  README.md
Due: prettier --write

Path conditions:
  eslint --fix: any of: *.js
  eslint --max-warnings=1: any of: *.js
  prettier --write: any of: *.{js,css,json,md}
